* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  /* background-color: darkturquoise; */
  font-family: "montseratt", sans-serif;
}
.defaultTheme {
  background-color: darkturquoise;
  transition: 0.6s ease-out;
  height: 100vh;
}
.warmTheme {
  background-color: #f6cd8b;
  transition: 0.6s ease-out;
  height: 100vh;
}

.search-bar {
  width: 40%;
  height: 2.5em;
  font-weight: 600;
  border-radius: 0 0 10px 10px;
  background-color: floralwhite;
  margin-bottom: 10px;
  padding: 5px;
}
.search-bar:focus {
  outline: none;
  background-color: ghostwhite;
}

.date-style {
  font-size: 1.2em;
  color: ghostwhite;
  margin-bottom: 10px;
}

.city-name {
  font-size: 1.5em;
  color: ghostwhite;
  margin: 20px 0 0 0;
  font-style: italic;
}

.temp {
  font-size: 4em;
  color: white;
  height: 2em;
  width: 2em;
  margin: auto;
  padding: 20px 0 0 10px;
  /* background-color:darkturquoise ; */
}

.temp-range {
  margin-right: 10px;
  color: ghostwhite;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.condition {
  margin-right: 10px;
  color: ghostwhite;
  font-size: 1.1em;
}
